nav ul {
	list-style-type: none;
	float: right;
}
nav ul li {
	float: left;
	margin: 0;
	overflow: hidden;
	font-size: 1em;
}
nav ul li a {
	margin: 0;
	display: block;
	text-align: center;
	width: 100px;
	height: 96px;
	line-height: 72px;
	background: url(../images/flag.png) no-repeat 0 0;
	text-decoration: none;
	color: #eee;
	overflow: hidden;
}
nav ul li a:hover {
	background-position-x: -100px;
}